<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.ContactMapper">
    <insert id="create">
        insert into Profile (name,sex,date,phonenum,local,photo) values (#{name},#{sex},#{date},#{phonenum},#{local},#{photo})
    </insert>
    <delete id="delete">
        delete from Profile where id=#{idnumber}
    </delete>
    <select id="get" resultType="hashMap">
        select id,name,sex,(DATE_FORMAT(date, '%Y-%m-%d')) as date,phonenum,local,photo from Profile where id=#{idnumber}
    </select>
    <update id="update">
         update Profile set name=#{name},sex=#{sex},date=#{date},phonenum=#{phonenum},local=#{local},photo=#{photo} where id=#{id}
    </update>
    <update id="updatenotfile">
         update Profile set name=#{name},sex=#{sex},date=#{date},phonenum=#{phonenum},local=#{local} where id=#{id}
    </update>
    <select id="getcount" resultType="int">
        select count(*) from Profile
    </select>
    <select id="getList" resultType="hashMap">
        select id,name,sex,date,phonenum,local,photo from Profile order by date desc LIMIT #{limit} OFFSET #{page}
    </select>
</mapper>